nav {
  background:rgb(255, 255, 255);
  height: 40px;
  display: block;
  padding: 2px;
  margin: 0px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid rgb(214, 214, 214);
}

.hivewire {
  font-size: 1.5em
}
a {
  font-size: 1.2em;
  align-self: auto;
  justify-content: space-between;
  color: black;
  text-decoration: none;
  margin: 2px 10px
}