<div class="header" style="background-color: rgb(55, 167, 103)">{{ pageTitle }}</div>
<table style="margin-top: 10px">
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let person of personList | slice: showing:showing + 9; let i = index" [routerLink]="['/person', person.id]">
    <td>{{ person.first_name }} {{ person.last_name }}</td>
    <td>{{ person.email }}</td>
  </tr>
</tbody>
  <tfoot>
    <tr>
      <td style="justify-content: center">
        <div style="white-space:pre"><span style="margin-left: 5px" *ngFor="let group of personCount | enumerator; let i = index" (click)="setDisplay(i)">{{ group }}</span></div>
      </td>
      <td></td>
    </tr>
  </tfoot>
</table>
