span {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.current {
  color: black;
}


table {
  border: 1px solid #CCC;
  border-collapse: collapse;
  width: 60%;
  font-size: 1.5em;
  margin-left: auto;
  margin-right: auto;
  min-width: 120vh;
  table-layout: fixed;
}

thead {
  background-color: #DDEFEF
}

th {
  text-align: left;
}

tbody tr {
  border: 1px solid rgb(218, 218, 218);
  border-radius: 10px;
  margin: 3px;
  background-color: rgb(245, 245, 245);
  cursor: pointer;
}

tbody tr:hover {
  background-color: rgb(201, 201, 201);
}

