.card-container {
  display: flex;
  flex-flow: row wrap;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px; /* 5px rounded corners */
  height: 200px;
  width: 300px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  justify-content: space-evenly;
  background: linear-gradient(
    135deg,
    rgba(191, 210, 85, 1) 0%,
    rgba(122, 183, 42, 1) 32%,
    rgba(142, 185, 42, 1) 32%,
    rgba(142, 185, 42, 1) 32%,
    rgba(123, 183, 12, 1) 50%,
    rgba(142, 185, 42, 1) 50%,
    rgba(114, 170, 0, 1) 65%,
    rgba(114, 170, 0, 1) 65%,
    rgba(114, 170, 0, 1) 65%,
    rgba(118, 181, 30, 1) 85%,
    rgba(111, 175, 38, 1) 85%,
    rgba(158, 203, 45, 1) 100%
  );
}

.card div {
  margin-left: 20px;
  flex: none;
  border-bottom: 1px solid rgb(214, 214, 214);
}

.formbar {
  position: fixed;
  z-index: 1;
  background-color: rgb(216, 216, 216);
  overflow-x: hidden;
  transition: 0.3s;
}

.leftcontroller {
  height: 100%;
  top: 0;
  left: 0;
  width: 0;
  padding-top: 60px;
}

.shown {
  width: 20%;
}

.formbar .closebtn {
  color: gray;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.closebtn:hover {
  cursor: pointer;
}
