<div class="header" style="background-color: bisque">{{ pageTitle }}</div>
<div
  [ngClass]="{
    formbar: true,
    leftcontroller: true,
    shown: formDisplayed
  }"
>
  <i class="closebtn" (click)="showForm()">&times;</i>
  <form novalidate [formGroup]="cardForm" style="padding: 10px">
    <label for="cardNumber">Card Number: </label>
    <input
      id="cardNumber"
      class="form-control"
      type="text"
      placeholder="Enter your 16-digit card #"
      formControlName="card"
    />
  </form>
  <button (click)="addCard()" [disabled]="!cardForm.valid" style="margin:10px">Save</button>
</div>
<div style="margin-left: 10px; font-size: 1.2em">
  Information for: {{ person.first_name }} {{ person.last_name }} ({{person.email}})
</div>
<button (click)="showForm()" style="margin-left: 10px">Add Card</button>
<div class="card-container">
  <div class="card" *ngFor="let detail of details">
    <div>Card ID: {{ detail.id }}</div>
    <div>Card Balance: {{ detail.balance }}</div>
    <div>Card Number: {{ detail.card_number | card }}</div>
  </div>
</div>
