.top-bar {
  text-align:center;
  font-size: 3em;
  margin: 0px;
  padding-bottom: 8vh;
}

.large-font {
  text-align: center;
  font-size: 1.5em;
  padding-top: 6vh;
  padding-bottom: 8vh;
}

.blue-to-white-175 {
  background: linear-gradient(175deg, rgba(255,255,255,1) 0%,rgba(167,195,221,1) 49%,rgba(167,195,221,1) 49%,rgba(64,154,214,1) 49%,rgba(72,184,240,1) 71%,rgba(57,139,193,1) 84%,rgba(38,85,138,1) 100%);
}