<div class="blue-to-white-175">
  <div  class="large-font" style="min-height: 10vh;">
    <h1 class="top-bar">Hivewire Angular Evaluation</h1>
    <h2 style="font-size: 2em;">Sticking the Landing:</h2>
    <p style="padding-bottom: 2vh">
      Welcome to the Person Billing Web Application. <br />
      It's here to provide a pleasant user experience
      during the few seconds while the rest of the web app eager lazy-loads.
    </p>
  </div>
  <div class="large-font">
    <h2 style="text-align: center; font-size: 2em;">Features:</h2>
    <ul style="list-style:none">
      <li><i class="icon-ok"></i> Retrieving lists of people and their details</li>
      <li><i class="icon-ok"></i> Retrieving specific details of people</li>
      <li><i class="icon-plus"></i> Adding Credit/Debit cards to accounts</li>
      <li><i class="icon-cog-alt"></i> No Additional Dependencies</li>
      <li><i class="icon-cog-alt"></i>Read Licenses.txt for icon pack licenses</li>
    </ul>
  </div>
</div>
